name: CI
on:
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v4
      - run: rustup update stable
      - uses: taiki-e/install-action@cargo-llvm-cov
      - run: cargo llvm-cov --all-features --workspace --codecov --output-path codecov.json
      - uses: codecov/codecov-action@v3
